{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Make Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <div class="testbox">
        <form method="POST" action="">
            {% csrf_token %}
            <h2>Personal Details</h2>
            <div class="item ">
                <label for="profile_name">Resume Name/No<span>*</span></label>
                <input id="profile_name " type="profile_name " name="profile_name" value="{{profile.profile_name}}" />
            </div>
            <div class="item ">
                <label for="name ">Name<span>*</span></label>
                <div class="name-item ">
                    <input id="name " type="text " name="firstname" placeholder="First " value="{{profile.firstname}}" />
                    <input type="text " name="lastname" placeholder="Last " value="{{profile.lastname}}" />
                </div>
            </div>
            <div class="item ">
                <label for="email ">Email<span>*</span></label>
                <input id="email " type="email " name="email" placeholder="@gmail.com" value="{{profile.email}}" />
            </div>
            <div class="item ">
                <label for="phone_number ">Phone Number<span>*</span></label>
                <input id="phone " name="phone" value="{{profile.phone}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="dep">Department</label>
                        <input id="dep" type="text " name="dep" value="{{profile.dep}}" />
                    </div>
                    <div>
                        <label for="roll">Roll Number</label>
                        <input id="roll" type="text " name="roll" value="{{profile.roll}}" />
                    </div>
                    <div>
                        <label for="portfolio">Portfolio Link</label>
                        <input id="portfolio" type="text " name="portfolio" value="{{profile.portfolio}}" />
                    </div>
                    <div>
                        <label for="github">GitHub Link</label>
                        <input id="github" type="text " name="github" value="{{profile.github}}" />
                    </div>
                    <div>
                        <label for="linkedin">LinkedIn Link</label>
                        <input id="linkedin" type="text " name="linkedin" value="{{profile.linkedin}}" />
                    </div>
                </div>
            </div>
            <div class='item'>
                <label for="clg">College/Degree</label>
                <input id="clg" type="text " name="clg" value="{{profile.clg}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="clg_cg">CGPA</label>
                        <input id="clg_cg" type="text " name="clg_cg" value="{{profile.clg_cg}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_clg">Start Date</label>
                        <input id="start_clg" type="text " name="start_clg" placeholder="MM/YR" value="{{profile.start_clg}}" />
                    </div>
                    <div>
                        <label for="end_clg">End Date</label>
                        <input id="end_clg" type="text " name="end_clg" placeholder="MM/YR" value="{{profile.end_clg}}" />
                    </div>
                </div>
            </div>
            <div class='item'>
                <label for="edu">School</label>
                <input id="edu" type="text " name="edu" value="{{profile.edu}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="edu_cg">CGPA/PERC</label>
                        <input id="edu_cg" type="text " name="edu_cg" value="{{profile.edu_cg}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_edu">Start Date</label>
                        <input id="start_edu" type="text " name="start_edu" placeholder="MM/YR" value="{{profile.start_edu}}" />
                    </div>
                    <div>
                        <label for="end_edu">End Date</label>
                        <input id="end_edu" type="text " name="end_edu" placeholder="MM/YR" value="{{profile.end_edu}}" />
                    </div>
                </div>
            </div>

            <div class="item ">
                <label for="exp1">Experience 1</label>
                <input id="exp1" type="text " name="exp1" value="{{profile.exp1}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_exp1">Start Date</label>
                        <input id="start_exp1" type="text " name="start_exp1" placeholder="MM/YR" value="{{profile.start_exp1}}" />
                    </div>
                    <div>
                        <label for="end_exp1">End Date</label>
                        <input id="end_exp1" type="text " name="end_exp1" placeholder="MM/YR Or Currently Working" value="{{profile.end_exp1}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <label for="exp2">Experience 2</label>
                <input id="exp2" type="text " name="exp2" value="{{profile.exp2}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_exp2">Start Date</label>
                        <input id="start_exp2" type="text " name="start_exp2" placeholder="MM/YR" value="{{profile.start_exp2}}" />
                    </div>
                    <div>
                        <label for="end_exp2">End Date</label>
                        <input id="end_exp2" type="text " name="end_exp2" placeholder="MM/YR Or Currently Working" value="{{profile.end_exp2}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <label for="exp3">Experience 3</label>
                <input id="exp3" type="text " name="exp3" value="{{profile.exp3}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_exp3">Start Date</label>
                        <input id="start_exp3" type="text " name="start_exp3" placeholder="MM/YR" value="{{profile.start_exp3}}" />
                    </div>
                    <div>
                        <label for="end_exp3">End Date</label>
                        <input id="end_exp3" type="text " name="end_exp3" placeholder="MM/YR Or Currently Working" value="{{profile.end_exp3}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <label for="pj1">Project 1</label>
                <input id="pj1" type="text " name="pj1" value="{{profile.pj1}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_pj1">Start Date</label>
                        <input id="start_pj1" type="text " name="start_pj1" placeholder="MM/YR" value="{{profile.start_pj1}}" />
                    </div>
                    <div>
                        <label for="end_pj1">End Date</label>
                        <input id="end_pj1" type="text " name="end_pj1" placeholder="MM/YR Or Currently Working" value="{{profile.end_pj1}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <label for="pj2">Project 2</label>
                <input id="pj2" type="text " name="pj2" value="{{profile.pj2}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_pj2">Start Date</label>
                        <input id="start_pj2" type="text " name="start_pj2" placeholder="MM/YR" value="{{profile.start_pj2}}" />
                    </div>
                    <div>
                        <label for="end_pj2">End Date</label>
                        <input id="end_pj2" type="text " name="end_pj2" placeholder="MM/YR Or Currently Working" value="{{profile.end_pj2}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <label for="pj3">Project 3</label>
                <input id="pj3" type="text " name="pj3" value="{{profile.pj3}}" />
            </div>
            <div class="item ">
                <div class="name-item ">
                    <div>
                        <label for="start_pj3">Start Date</label>
                        <input id="start_pj3" type="text " name="start_pj3" placeholder="MM/YR" value="{{profile.start_pj3}}" />
                    </div>
                    <div>
                        <label for="end_pj3">End Date</label>
                        <input id="end_pj3" type="text " name="end_pj3" placeholder="MM/YR Or Currently Working" value="{{profile.end_pj3}}" />
                    </div>
                </div>
            </div>
            <div class="item ">
                <label for="comment ">Achievments</label>
                <textarea id="Achievments" name="Achievments" rows=4> {{profile.Achievments}}</textarea>
            </div>
            <div class="item ">
                <label for="comment ">Technical Skills</label>
                <textarea id="Skills" name="Skills" rows=4>< {{profile.Skills}}/textarea>
            </div>
            <div class="item ">
                <label for="comment ">Position of Responsibility</label>
                <textarea id="Por" name="Por" rows=4> {{profile.Por}}</textarea>
            </div>
            <div class="item ">
                <label for="comment ">Hobbies</label>
                <textarea id="Hobbies" name="Hobbies" rows=4> {{profile.Hobbies}}</textarea>
            </div>
            {% if messages %} {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>

            {% endfor %} {% endif %}
            <div class="btn-block ">
                <button type="submit ">SUBMIT</button>
            </div>
        </form>
    </div>
</body>

</html>