<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <title>Resume Builder</title>

</head>

<body>
    <style>
        .hello-msg {
            font: bold;
            font-size: 18px;
            color: blueviolet;
            margin-right: 20px;
        }
    </style>

    <span class="hello-msg">Hello, {{request.user}}</span>
    <div id="javascript_header">

    </div>

    <form>
        <div class="form__header">
            <h1>Build Your Resume</h1>
            <p> Dashboard </p>
            {% for r in resumes %}
            <tr>
                <td>{{r.profile_name}}</td>
                <td>
                    <a class="button" href="{% url 'update_resume' r.id %}">Update</a>
                </td>
                <td>
                    <a class="button" href="{% url 'delete_resume' r.id %}">Delete</a>
                </td>
                <br>
            </tr>
            {% endfor %}
        </div>

        <div class="line-break "></div>

        <a class="button " <a href="{% url 'create_resume' %} "> Create Resume</a>

        <div class="line-break ">

        </div>

        <a class="button " href="{% url 'choose_resume' %}"> Print Resume</a>

        <div class="line-break ">

        </div>
        <span> <a  class="hello-msg " href="{% url 'logout' %} ">Logout </a></span>
    </form>

</body>

</html>